#root {
}

html {
  background-image: URL("../src/assets/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 0px;
  width: 100%;
}
