.burger-menu {
  display: flex;
  padding-top: 40px;
  background: rgb(251, 141, 0);
  color: white;
  max-width: 40%;
  min-width: 20%;
}

.bm-burger-button {
  display: flex;
  align-items: center;
  align-content: center;
  position: fixed;
  width: 30px;
  height: 25px;
  left: 20px;
  top: 26px;
  margin: 0;
}

.bm-burger-bars {
  background: rgb(251, 141, 0);
}

.bm-cross-button {
  height: 50px;
  width: 50px;
}

.bm-cross {
  background: #0c0c0c;
  height: 50px;
  width: 50px;
}

.bm-item-list {
  color: white;
  padding-left: 10px;
}

.bm-menu-wrap {
}

.bm-item {
  display: flex;
  width: auto;
  padding-top: 10px;
}

.menu-item {
  font-family: inherit;
  font-size: 28px;
  font-weight: 700;
  padding-top: 20px;
  max-width: 225px;
  min-width: 200px;
  text-decoration: none !important;
  color: white;
  border-bottom: 1.5px solid black;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}

.menu-item:hover {
  color: rgb(196, 192, 192);
}
