.burger-menu {
  display: flex;
  padding-top: 60px;
  /* margin-top: 55px; */
  background: rgb(228, 112, 59);
  color: white;
}

.bm-burger-button {
  display: flex;
  align-items: center;
  align-content: center;
  position: fixed;
  width: 40px;
  height: 30px;
  left: 20px;
  top: 15px;
}

.bm-burger-bars {
  background: rgb(251, 141, 0);
}

.bm-cross-button {
  height: 40px;
  width: 40px;
}

.bm-cross {
  background: #0c0c0c;
  height: 40px;
  width: 40px;
}

.bm-item-list {
  color: #b8b7ad;
  padding-left: 10px;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-item {
  display: inline-block;
  width: auto;
  padding-top: 10px;
}

.menu-item {
  display: flex;
  justify-content: flex-end;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  padding: 5px;
  width: 220px;
  text-decoration: none !important;
  color: rgb(228, 225, 225);
  border-bottom: 1.5px solid black;
  text-align: right;
  font-family: "Courier New", Courier, monospace;
}
