.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  color: #373a47;
  font-size: 30px;
  text-align: center;
}

.search-and-basket {
  display: flex;
  align-items: center;
  width: 420px;
}

.basket-counter-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.basket-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 93, 26);
  width: 40px;
  height: 40px;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.basket-counter {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 15px;
  align-self: end;
  text-align: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  font-weight: bold;
  color: white;
  background-color: grey;
  border-radius: 50%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: 300px;
  margin-top: 35px;
}

.logo {
  width: 150px;
}

.search {
  height: 40px;
  display: flex;
  justify-items: center;
  align-self: center;
  align-items: center;
  margin-right: 20px;
  font-size: 30px;
}

.search-input {
  height: 20px;
  width: 250px;
  padding: 4px;
  border-radius: 8px;
  font-size: 18px;
}

.basket-counter {
  margin-right: 5px;
}
