.header-container {
  display: flex;
  align-content: flex-end;
  max-width: 100%;
  justify-content: center;
  height: 75px;
  color: #373a47;
  font-size: 30px;
  text-align: center;
  background-color: white;
  border-bottom: 5px solid rgb(251, 141, 0);
  border-bottom-style: double;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  margin-bottom: 100px;
  z-index: 5;
}

.basket-and-chat-container {
  display: flex;
  flex-basis: 0;
  align-items: center;
  align-content: center;

  width: 420px;
}

.basket-counter-container {
  display: flex;
  align-content: center;
  align-items: center;
  margin-right: 4px;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(251, 141, 0);
  max-width: 50px;
  max-height: 50px;
  min-width: 45px;
  min-height: 45px;
  color: #ffffff;
}

.header-image {
  max-width: 50px;
  max-height: 50px;
  min-width: 80%;
  min-height: 80%;
}

a {
  text-decoration: none;
}

.basket-counter {
  display: flex;
  align-items: center;
  font-size: 15px;
  align-self: end;
  justify-content: center;
  width: 15px;
  height: 20px;
  font-weight: bold;
  color: white;
  background-color: grey;
  border-radius: 50%;
}

.logo-container {
  display: flex;
  align-self: center;
  flex-grow: 1;
  justify-content: center;
  margin-top: 8px;
}

.logo {
  max-width: 140px;
  min-width: 50px;
  height: auto;
}
