:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*DETAILS AND BASKET*/
.details-basket-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  width: 180px;
}

/*DETAILS*/
.details-container {
  display: flex;

  flex-direction: column;
  color: #373a47;
  align-items: center;
  padding: 10px;
  font-size: 25px;
}

/*FOOTER*/

.footer-container {
  background-color: white;
  display: flex;
  width: 100%;
  justify-items: flex-end;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}
