:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*DETAILS AND BASKET*/
.details-basket-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  width: 180px;
}

.add-to-basket-button {
  font-size: 30px;
  align-items: center;
  display: flex;
  background-color: pink;
  height: 30px;
  width: 30px;
}

.add-to-basket-button:hover {
  background-color: rgb(243, 171, 183);
}

/*DETAILS*/
.details-container {
  display: flex;

  flex-direction: column;
  color: #373a47;
  align-items: center;
  padding: 10px;
  font-size: 25px;
}

/*FOOTER*/

.footer-container {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: center;
  border: solid black;
  text-align: center;
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}
