.product-info-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 375px;
}

.product-info {
  padding: 5px;
}

.product-container {
  margin-top: 100px;
  display: flex;
}

.add-to-basket-button {
  width: 180px;
  height: 50px;
  background-color: rgb(251, 141, 0);
  border: solid black;
  font-size: 16px;
}

.add-to-basket-button:hover {
  background-color: rgb(197, 114, 5);
}

.loading-message {
  height: 100%;
  margin-top: 100px;
}
