.product-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}

/*SIZING*/
.sizes-container {
  max-width: 90%;
  display: flex;

  align-content: center;
  flex-wrap: wrap;
}

#selected {
  background-color: rgb(251, 141, 0);
}

.size-button-in-stock {
  width: 50px;
  font-size: 20px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0px;
  margin: 3px;
  font-weight: bold;
}

.size-button-out-of-stock {
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 0px;
  color: white;
  margin: 3px;
  background-color: rgb(187, 181, 181);
  pointer-events: none;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 46%,
      black 0%,
      black 51%,
      rgba(0, 0, 0, 0) 45%
    ),
    linear-gradient(
      135deg,
      rgb(187, 186, 186) 48%,
      black 20%,
      black 53%,
      rgb(187, 186, 186) 54%
    );
}

/*PRODUCT INFO*/

.product-info-container {
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 5px;
  max-width: 90%;
  min-width: 50%;
  max-height: 100%;
  font-size: 18px;
}

.product-info {
  padding: 5px;
}

.item-page-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100% !important;
  min-width: 80% !important;
  margin-top: 10px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.add-to-basket-button-active {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin: 0 auto;
  width: 170px;
  height: 50px;
  background-color: rgb(251, 141, 0);
  font-size: 16px;
}

.add-to-basket-button-inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin: 0 auto;
  width: 170px;
  height: 50px;
  background-color: rgb(168, 166, 164);
  font-size: 16px;
}

.add-to-basket-button:hover {
  background-color: rgb(170, 99, 5);
}
