.login-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 95vh;
  width: 100%;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  margin-top: 100px;
}
.Auth-form-title {
  color: white;
  margin: 0;
}

.Auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  height: auto;
  min-width: 25%;
  min-height: 40%;
  border: 2px rgb(175, 100, 3);
  background-color: rgb(251, 141, 0);
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px;
}

.login-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group-mt-3 {
}

.inputfield {
  width: 250px;
  height: 25px;
  border-radius: 10px;
  border: 3px solid rgb(175, 100, 3);
  border: none;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}

.invalid {
  width: 250px;
  height: 25px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  border: 3px solid red;
}

.forgot-password-text {
  font-size: 12px;
}
.forgot-password-link,
.signup-link {
  color: white;
  text-decoration: underline;
}

.submit-button {
  margin-top: 10px;
  width: 80px;
  font-size: 15px;
  height: 30px;
}
