.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
  width: 100%;
}

.searchbar {
  height: 40px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-right: 20px;
  font-size: 30px;
  max-width: 80%;
  min-width: 50%;
}

.search-input {
  height: 20px;
  max-width: 80%;
  min-width: 50%;
  padding: 4px;
  border-radius: 8px;
  font-size: 18px;
}
